* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;

}

:root {
    --brand: #bf7506;
    --brand-500: #DD9C3C;
    --dark: #211b12;
    --dark-500: #83807c;
}

.main__header {
    width: 100%;
    background-color: #ffffff;
}

.nav__element {
    width: 80%;
    margin: 0 auto;
}

.nav__element-list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;

}

.nav__element-list a {
    text-decoration: none;
    color: var(--brand);
}

.nav__element-list li {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;
    margin: 12px;
    color: var(--brand);
}

.information {
    width: 87%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    text-align: left;
}

.information--greetings {
    font-size: 2.8rem;
    line-height: 3.2rem;
    font-style: normal;
    font-weight: bold;
    color: var(--dark);
}

.information--text {
    font-size: 1.4rem;
    line-height: 1.6;
    font-weight: 400;
    margin: 0;
}

.information .social-medias {
    width: 100%;
    height: auto;
}

.information .linkedin-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(assets/icons/linkedin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.information .twitter-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(assets/icons/Social.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.information .linkedin-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(assets/icons/linkedin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.information .github-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(assets/icons/github.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contain__projects {
    width: 87%;
    min-width: 290px;
    max-width: 730px;
    margin: 30px auto;
}

.contain__projects h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.2rem;
    color: var(--brand);
    margin-bottom: 20px;
    margin: 0 auto;

}



.projects {
    width: 100%;
    min-width: 290px;
    max-width: 730px;
    display: flex;
    flex-direction: row;
    margin: 30px auto;
    justify-content: space-between;

}


.project--title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.2rem;
    color: var(--brand);
    margin-top: 20px;
}

.project {
    width: 45%;
    min-width: 140px;
    height: auto;
    border-radius: 2px;
}


span.exchange-img {
    width: 100%;
    height: 160px;
    display: inline-block;
    background-image: url(assets/imgs/Capturaweb_22-2-2022_23143.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--dark-500);
    border-radius: 5px;
}

.project--title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.2rem;
    color: var(--brand);
    margin: 10px 0;
}

.project--title a {
    text-decoration: none;
    color: var(--brand);
}

.project--phrase {
    margin-top: 12px;
    font-size: 1.4rem;
    line-height: 1.8rem;

}

.project--tech {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;

}

.project--tech li {
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 2px;
    margin-right: 2px;
    border: 1px solid var(--brand-500);
    border-radius: 2px;
}

.second__project {
    width: 45%;
    height: auto;
    border-radius: 2px;
    overflow: hidden;
}

span.crowdfunding-img {
    width: 100%;
    height: 160px;
    display: inline-block;
    background-image: url(assets/imgs/desktop-preview.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--dark-500);
    border-radius: 5px;
}

.about-me {
    width: 70%;
    min-width: 160px;
    max-width: 730px;
    height: auto;
    display: flex;
    margin: 30px auto;
}

.about-me--myImage {
    width: 40%;
    height: 60%;
}

.about-me .presentation {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.about-me .presentation--greetings {
    text-align: left;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
}

.about-me .presentation--name {
    width: 100%;
    margin: 16px 0;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3rem;
    color: var(--brand);
}

.about-me .presentation--description {
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--dark);
    margin: 0;
}

.about-me .presentation--phrase {
    font-size: 1.8rem;
    color: var(--brand-500);
}

.experience {
    width: 70%;
    margin: 0 auto;
}

.experience--title {
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 14px auto;
}

.experience--lista {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.experience--lista li {
    font-size: 1.4rem;
    padding: 2px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--brand-500);
    border-radius: 2px;
}